/* Add CSS Styling */
.odd-numbers {
    background-color: #ff000080;
    font-family: Verdana "Dejavu sans" sans-serif;
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

.font-size {
   font-size: 24px; 
}

#fourth-element {
    background-color: #00ff0080;
    font-weight: 700;
}